body {
    background-image: url(../../img/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #000000;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
   
}

.kembali {
    position: absolute;
    bottom: 100px;
    justify-items: center;
    margin-left: 720px;
  }
/* =========================
   MOBILE iOS / ANDROID
   ========================= */
@media screen and (max-width: 768px) {

  body {
    background-position: center;
    background-attachment: scroll; /* penting untuk iOS */
  }

  .clock {
    font-size: 36px;
    letter-spacing: 4px;
    text-align: center;
    width: 100%;
  }

  .kembali {
    position: fixed;
    bottom: 30px;
    left: 50%;
    margin-left: 0;
    transform: translateX(-50%);
  }
}

/* =========================
   iPhone kecil (SE / Mini)
   ========================= */
@media screen and (max-width: 480px) {

  .clock {
    font-size: 30px;
    letter-spacing: 3px;
  }

  .kembali {
    bottom: 20px;
  }
}
