
body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg-image {
    /* Membuat div.fullscreen meliputi seluruh layar */
    background-image: url('../../img/wallpaperflare.com_wallpaper.jpg');
    /* Mengatur background agar menutupi seluruh area div */
    background-size: cover;
    /* Mengatur posisi background */
    background-position: center;
    /* Mengatur div agar meliputi seluruh layar */
    height: 100%;
    /* Menambahkan posisi relatif kepada background agar konten lain bisa ditambahkan di atasnya */
    position: relative;
  }
  
  .kembali {
    position: absolute;
    bottom: 100px;
    justify-items: center;
    
  }
  
 .pesan-grub{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 }

 .pesan{
  margin-top: 110px;
  padding: 27px;
  background-color: rgba(240, 248, 255, 0.705);
  margin-left: 360px;
  margin-right: 360px;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif; 
  font-weight: 600; 
  font-style: italic; 
 }
 h1{
  color: #FF00CC;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

 }

 /* =========================
   MOBILE iOS (iPhone)
   ========================= */
@media screen and (max-width: 768px) {

  body, html {
    height: 100%;
    -webkit-text-size-adjust: 100%; /* cegah zoom font Safari */
  }

  .bg-image {
    height: 100vh;
    background-position: center;
  }

  .pesan-grub {
    padding: 15px;
  }

  .pesan {
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 20px;
    font-size: 16px;
  }

  h1 {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .kembali {
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* =========================
   iPhone kecil (SE, Mini)
   ========================= */
@media screen and (max-width: 480px) {

  .pesan {
    margin-top: 70px;
    padding: 16px;
    font-size: 15px;
  }

  h1 {
    font-size: 20px;
  }

  .kembali {
    bottom: 20px;
  }
}

